extends layout

block content
  h1= title
  p Welcome to #{title}
  button.counter Count
  div.count 100
  script(src="/socket.io/socket.io.js")
  script.
    (function () {
        var socket = io('//localhost:3000');
        var countDisplay = document.querySelectorAll('.count')[0];
        var counter = 0;
        socket.on('countUpdate', function (data) {
            console.log('Count was Updated');
            countDisplay.textContent = counter = data.count;
        });

        var button = document.querySelectorAll('.counter')[0];
        button.addEventListener('click', function () {
            socket.emit('buttonClicked', 'button was clicked' );
        });

    })();
